<div class="page">

    <footer class="bg-dark">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4">
                    <h5 class="mb-3" style="color: whitesmoke">About us</h5>
                    <p style="color: whitesmoke">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                        molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                        voluptatem veniam, est atque cumque eum delectus sint!
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <h5 class="mb-3" style="letter-spacing: 2px; color: whitesmoke;">links</h5>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-1">
                            <a href="#!" style="color: whitesmoke;">Frequently Asked Questions</a>
                        </li>
                        <li class="mb-1">
                            <a href="#!" style="color: whitesmoke;">Delivery</a>
                        </li>
                        <li class="mb-1">
                            <a href="#!" style="color: whitesmoke;">Pricing</a>
                        </li>
                        <li>
                            <a href="#!" style="color: whitesmoke;">Where we deliver?</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <h5 class="mb-1" style="color: whitesmoke;">opening hours</h5>
                    <table class="table" style="color: whitesmoke; border-color: whitesmoke;">
                        <tbody>
                            <tr>
                                <td>Mon - Fri:</td>
                                <td>8am - 9pm</td>
                            </tr>
                            <tr>
                                <td>Sat - Sun:</td>
                                <td>8am - 1am</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);color: whitesmoke">
            © 2020 Copyright:
            <a href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>

</div>
<!-- End of .container -->